@{
    ViewData["Title"] = "Games";
}

<div class="wrapper">
    <h1>Matchmaking</h1>
    <a asp-action="NewGame" asp-controller="Rallypoint">
        <button class="uk-button uk-button-primary">Add Game</button>
    </a>
    <a href="/games/scoreboard"><button class="uk-button uk-button-primary">Global Scoreboard</button></a>
    <hr>
    <h3>Scheduled Matches</h3>
        <div class="uk-grid" id="match-card">
            @foreach(var game in ViewBag.userGames){
            <div class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <p>@game.playerone.username vs. @game.playertwo.username</p>
                    <p>@game.date</p>
                    <p>Location: @game.address</p>
                </div>
                <form asp-controller="Rallypoint" asp-action="DeleteGame" asp-route-Id="@game.Id"><button class="uk-button uk-button-danger uk-margin">Delete</button></form>
                <a href="/gameinfo/@game.Id"><button class="uk-button uk-button-default uk-margin">View</button></a>
            </div>
            }
        </div>
    <hr>
    <h2>Find a Match</h2>
        <div class="uk-grid">
            @foreach(var game in ViewBag.availableGames){
            <div class="uk-card">
                <h3 class="uk-card-title">@game.date</h3>
                <div class="uk-card-body">@game.address</div>
                <form asp-controller="Rallypoint" asp-action="JoinGame"       asp-route-GameId="@game.Id" asp-route-join="true"><button class="uk-button uk-button-primary">Join</button></form>
            </div>
            }
        </div>
    <hr>
</div>